.center-area( '[ngClass]' = '{"state-uneditable" : !editable, "state-editable" : editable }' )
  header.center-header
    .view-path Upravljaj urednicima
  .center-content
    header.content-header
      .content-header-left
        .content-header-title Urednici
        .content-header-subtitle
          | Pregledajte i upravljajte glazbenim
          | urednicima ove radiopostaje – dodijelite uredničke
          | ovlasti običnim korisnicima ili ih uklonite postojećim urednicima.
      .content-header-right
        i.material-icons.icon edit
    nav.content-options.uneditable-ui
      button( '(click)'="toggleEditable()" ) Uredi popis urednika
     nav.content-options.editable-ui
      button( '(click)'="toggleEditable()" ) Završi uređivanje popisa
    ul.content-primary.content-list
      li.content-list-item.content-list-search-item.editable-ui
        form
          .content-list-item-content
            label(for='add-item-search') Dodaj urednika
            input.add-item-search(type='text', name='add_track_search' autocomplete = "off" '(input)'="onKeyPressed($event)" '(keydown)'="enterCheck($event)" '[(ngModel)]'="userSearch" )
          .content-list-item-options
            button.raised.add-item-button('[disabled]'="!closestMatches" '(click)'="addEditor()")
              i.material-icons person_add
      div
          li.content-list-item.closest-match-item.primary-color( '*ngFor'="#closestMatch of closestMatches" )
            .content-list-item-content
              .content-list-item-name {{closestMatch.first_name}} {{closestMatch.last_name}}
              .content-list-item-data
                .content-list-item-data-item.user-mail {{closestMatch.email}}
                .content-list-item-data-item.user-age {{closestMatch.year_of_birth}}
                .content-list-item-data-item.user-occupation {{closestMatch.occupation}}
         
      li.content-list-item.editor-item.dark-primary-color( '*ngFor'="#editor of editors" )
        .content-list-item-content
          .content-list-item-name {{editor.first_name}} {{editor.last_name}}
          .content-list-item-data
            .content-list-item-data-item.user-mail {{editor.email}}
            .content-list-item-data-item.user-age {{editor.year_of_birth}}
            .content-list-item-data-item.user-occupation {{editor.occupation}}
        .content-list-item-options.editable-ui
          button.alt( '(click)'="removeEditor(editor.id)")
            i.material-icons clear
