.center-area('[ngClass]' = '{"state-editable" : editable, "state-uneditable" : !editable}')
  header.center-header
    .view-path Pregledaj listu želja
  .center-content
    header.content-header
      .content-header-left
        .content-header-title Lista želja
        .content-header-subtitle
          | Sastavite svoju vlastitu
          | listu želja te ju učinite dostupnom svim urednicima, kako biste i
          | sami mogli sudjelovati u radu ove radio postaje.
      .content-header-right
        i.material-icons.icon assignment
    nav.content-options.uneditable-ui
      button( '(click)' = 'toggleEditable()' ) Uredi listu želja
      button( '(click)' = 'confirmWishlist()') Potvrdi listu želja
    nav.content-options.editable-ui
      button( '(click)' = 'saveWishlist()') Spremi listu želja
      button( '(click)' = 'toggleEditable()' ) Odustani od promjena
    ul.content-primary.content-list    
        li.content-list-item.content-list-search-item.editable-ui
          form
            .content-list-item-content
              label(for='add_track_search') Dodaj na listu
              input.add-item-search(type='text', name='add_track_search' '(keypress)'="onKeyPressed($event)" '[(ngModel)]'="trackSearch" )
            .content-list-item-options
              button.raised.add-item-button( '[disabled]'="!matching" '(click)'="addTrack()" )
                i.material-icons playlist_add
        div
            li.content-list-item.closest-match-item.track-item( '*ngFor'="#track of searchResults" )
              .content-list-item-content
                .content-list-item-name {{track.title}}
                .content-list-item-data
                  .content-list-item-data-item.track-duration {{track.play_duration}}
                  .content-list-item-data-item.track-artist-dim {{track.artist}}
                  .content-list-item-data-item.track-album {{track.album}}
              .content-list-item-options.editable-ui
                button.alt( '(click)'="addToWishlist(track)" )
                  i.material-icons check
        li.content-list-item.track-item( '*ngFor' = '#track of tracks' )
            .content-list-item-content
              .content-list-item-name {{ track.title }}
              .content-list-item-data
                .content-list-item-data-item.track-artist {{ track.artist }}
                .content-list-item-data-item.track-album {{ track.album }}
                .content-list-item-data-item.track-year {{ track.year }}
                .content-list-item-data-item.track-genre {{ track.genre }}
            .content-list-item-options
              button.alt.editable-ui( '(click)' = 'removeFromWishlist(track)')
                i.material-icons clear
  //- .center-side
  //-   .center-side-header
  //-     .center-side-title Želje drugih korisnika
  //-     .center-side-subtitle Pogledajte što drugi korisnici žele slušati u programu radio postaje.
  //-   .center-side-content
  //-     ul.global-wishlist
  //-       li.global-wishlist-item
  //-         .gw-track
  //-           .gw-track-name Hello
  //-           .gw-track-artist Adele
  //-         .gw-option.editable-ui
  //-           button
  //-             i.material-icons playlist_add
  //-       li.global-wishlist-item
  //-         .gw-track
  //-           .gw-track-name Same Old Love
  //-           .gw-track-artist Selena Gomez
  //-         .gw-option.editable-ui
  //-           button
  //-             i.material-icons playlist_add
  //-       li.global-wishlist-item
  //-         .gw-track
  //-           .gw-track-name All I Want For Christmas Is You
  //-           .gw-track-artist Mariah Carey
  //-         .gw-option.editable-ui
  //-           button
  //-             i.material-icons playlist_add
  //-       li.global-wishlist-item
  //-         .gw-track
  //-           .gw-track-name In The Night
  //-           .gw-track-artist The Weeknd
  //-         .gw-option.editable-ui
  //-           button
  //-             i.material-icons playlist_add
  //-       li.global-wishlist-item
  //-         .gw-track
  //-           .gw-track-name On My Mind
  //-           .gw-track-artist Ellie Goulding
  //-         .gw-option.editable-ui
  //-           button
  //-             i.material-icons playlist_add
