.center-area( '[ngClass]' = '{"state-uneditable" : !editable, "state-editable" : editable }' )
  header.center-header
    .view-path Upravljaj urednicima
  .center-content
    header.content-header
      .content-header-left
        .content-header-title Urednici
        .content-header-subtitle
          | Pregledajte i upravljajte administratorima
          | radiopostaje – dodijelite administrativne
          | ovlasti korisnicima ili ih uklonite postojećim administratorima. 
          | Sustav smije imati najviše 10 administratora.
      .content-header-right
        i.material-icons.icon edit
    nav.content-options.uneditable-ui
      button( '(click)'="toggleEditable()" ) Uredi popis urednika
     nav.content-options.editable-ui
      button( '(click)'="toggleEditable()" ) Završi uređivanje popisa
    ul.content-primary.content-list
      li.content-list-item.content-list-search-item.editable-ui
        form
          .content-list-item-content
            label(for='add-item-search') Dodaj urednika
            input.add-item-search(type='text', name='add_track_search' autocomplete = "off" '(input)'="onKeyPressed($event)" '(keydown)'="enterCheck($event)" '[(ngModel)]'="userSearch" )
          .content-list-item-options
            button.raised.add-item-button('[disabled]'="!closestMatches" '(click)'="addAdmin()")
              i.material-icons person_add
      li.content-list-item.closest-match-item.primary-color( '*ngFor'="#closestMatch of closestMatches" )
        .content-list-item-content
          .content-list-item-name {{closestMatch.first_name}} {{closestMatch.last_name}}
          .content-list-item-data
            .content-list-item-data-item.user-mail {{closestMatch.email}}
            .content-list-item-data-item.user-age {{closestMatch.year_of_birth}}
            .content-list-item-data-item.user-occupation {{closestMatch.occupation}}
      li.content-list-item.admin-item.dark-primary-color( '*ngFor'="#admin of admins" )
        .content-list-item-content
          .content-list-item-name {{admin.first_name}} {{admin.last_name}}
          .content-list-item-data
            .content-list-item-data-item.user-mail {{admin.email}}
            .content-list-item-data-item.user-age {{admin.year_of_birth}}
            .content-list-item-data-item.user-occupation {{admin.occupation}}
        .content-list-item-options.editable-ui
          button.alt( '(click)'="removeAdmin(admin.id)")
            i.material-icons clear
